<h1>Welcome to MadLibs 2017 y'all</h1>

<div id="stories">
</div>

<img src='http://www.fostersystems.com/ccdata/images/spinner.gif' id='next_page_spinner' />



<%= javascript_include_tag 'pagination' %>
