<h1>Welcome to MadLibs 2017 y'all</h1>

<% @stories.each do |turn| %>
<blockquote>
  <p><%= turn.generate_story %></p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>
<% end %>
